<h2>Добро пожаловать в Pizza Shop!</h2>
<br>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div>
          <img src="<%= product.path_to_image %>" >
        </div>
        <br>
        <div>
          <span style="font-size: 130%; color: blue"><%= product.title %></span>
        </div>
        <div><%= product.description %>
          <br>
          Размер: <%= product.size %> см.
        </div>
        <div>
          Цена: <%= product.price %> грн.
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">В корзину</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
