<h2>Welcome to Pizza Shop!</h2>
<br>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div>
          <img src="<%= product.path_to_image %>" >
        </div>
        <br>
        <div>
          <span style="font-size: 130%; color: blue"><%= product.title %></span>
        </div>
        <div><%= product.description %>
          <br>
          Размер: <%= product.size %> см.
        </div>
        <div>
          Цена: <%= product.price %> грн.
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<button type="button" name="button" class="btn btn-primary"onclick="something()">Click me!</button>
